        body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #ff0000;
    color: white;
    text-align: center;
}

footer {
    background-color: #79449f;
    color: white;
    text-align: center;
}

.card img {
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.05);
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}
